torch
torchvision
torchaudio
transformers
chromadb
numpy
Pillow
langchain
langchain_huggingface
langchain_google_genai
langchain_community
google-auth
google-auth-oauthlib
gtts
streamlit
sentence-transformers
openai-whisper
PyPDF2
soundfile
pydub
whisper
opencv-python-headless
google-api-python-client
